@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme-bg: #2E3440;
    --theme-text: #E5E9F0;
    --theme-primary: #88C0D0;
    --theme-secondary: #81A1C1;
    --theme-accent: #A3BE8C;
    --font-mono: "JetBrains Mono", monospace;
  }
  body {
    background-color: var(--theme-bg);
    color: var(--theme-text);
    font-family: var(--font-mono);
  }
}